@mixin positioning($top-position) {
    position: absolute;
    top: $top-position;
    left: 50%;
    transform: translate(-28%, -80%);
    transition: all .3s ease;

    @media only screen and (max-width: 800px)  {
        transform: translate(-48%, -80%);
        transition: all .7s ease;
    }
}

@mixin headlines($size, $color) {
    font-size: $size;
    font-style: italic;
    font-weight: bold;
    color: $color;
    text-shadow: 2px 2px rgba(0, 255, 255, 0.4);

    @media only screen and (max-width: 800px) {    
        width: auto;
        text-align: center;
    }

    @media only screen and (max-width: 600px) {    
        width: 100%;
        text-align: center;
    }
}

.background-container {
    min-width: 100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;

    #background-video {
        min-width: 100%;
        min-height: 100%;
    
        position: absolute;
        top: 66%;
        left: 66%;
        transform: translate(-66%, -66%);

        z-index: -1;
    }

    #profile-pic {
        width: 220px;
        height: 220px;

        border-radius: 100%;
        border: 3px solid rgb(156,166,166);

        @include positioning(50%);
    }

    #name {
        @include headlines(2.5em, rgb(9, 250, 250));
        @include positioning(60%);
    }

    #job-title {
        @include headlines(2em, rgb(2, 230, 230));
        @include positioning(67%);
    }
}