.exp-subsection {
    width: 75%;
    background-color: rgba(232, 255, 255, 0.4);
    display: inline-block;
}

h3 {
    width: 100%;
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    text-align: center;
    color: rgb(3, 213, 213);
}