<div class="exp-subsection">
    <h3>{{title}}</h3>
    <div *ngIf="title === 'Work Experience'">
        <app-experience-item *ngFor="let w of workExperience" [logo]="w.logo" [isWideLogo]="w.isWideLogo"
        [title]="w.title" [subtitle]="w.subtitle" [description]="w.description"></app-experience-item>
    </div>
    <div *ngIf="title === 'Education'">
        <app-experience-item *ngFor="let e of education"></app-experience-item>
    </div>
    <!-- <div *ngIf="title === 'Certifications'">
        Ok cert
    </div> -->
</div>