.exp-subsection {
    width: 75%;
    background-color: rgba(232, 255, 255, 0.4);
    display: inline-block;
}

h3 {
    width: 100%;
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    text-align: center;
    color: rgb(3, 213, 213);
}

// li {
//     position: relative;
//     list-style: none;
//     padding: 1em;
// }

// li:after {
//     content: '';
//     position: absolute;
//     display: block;
//     height: calc(100%);
//     bottom: -1%;
//     left: -5%;
//     border-left: 1px black solid;
//     z-index: -1;
// }