.loader-container {
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: rgba(0, 123, 123, 0.7);
    z-index: 3;

    .spinner {
        position: absolute;
        top: 48%;
        left: 48%;
    }

    .spinner:after {
        content: "";
        display: block;
        width: 100px;
        margin: 1px;
        border-radius: 50%;
        border: 5px solid rgb(3, 213, 213);
        border-color: rgb(3, 213, 213) transparent rgb(3, 213, 213) transparent;
        animation: spinner 3s linear infinite;
    }

    @keyframes spinner {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .spinner-s {
        position: absolute;
        top: 48%;
        left: 48%;
    }

    .spinner-s:after {
        content: "";
        display: block;
        width: 100px;
        margin: 1px;
        border-radius: 50%;
        border: 5px solid rgb(3, 213, 213);
        border-color: rgb(3, 213, 213) transparent rgb(3, 213, 213) transparent;
        animation: spinner-s 6s linear infinite;
    }

    @keyframes spinner-s {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(-360deg);
        }
    }

    .spinner-t {
        position: absolute;
        top: 48%;
        left: 48%;
    }

    .spinner-t:after {
        content: "";
        display: block;
        width: 100px;
        margin: 1px;
        border-radius: 50%;
        border: 5px solid rgb(3, 213, 213);
        border-color: rgb(3, 213, 213) transparent rgb(3, 213, 213) transparent;
        animation: spinner-t 3s linear infinite;
    }

    @keyframes spinner-t {
        0% {
            transform: rotate(90deg);
        }

        100% {
            transform: rotate(450deg);
        }
    }

    .spinner-f {
        position: absolute;
        top: 48%;
        left: 48%;
    }

    .spinner-f:after {
        content: "";
        display: block;
        width: 100px;
        margin: 1px;
        border-radius: 50%;
        border: 5px solid rgb(3, 213, 213);
        border-color: rgb(3, 213, 213) transparent rgb(3, 213, 213) transparent;
        animation: spinner-f 6s linear infinite;
    }

    @keyframes spinner-f {
        0% {
            transform: rotate(-90deg);
        }

        100% {
            transform: rotate(-450deg);
        }
    }
}