@mixin base-spinner {
    position: absolute;
    top: 48%;
    left: 48%;
}

@mixin spinner-animation($name, $animation-duration) {
    content: "";
    display: block;
    width: 100px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid rgb(3, 213, 213);
    border-color: rgb(3, 213, 213) transparent rgb(3, 213, 213) transparent;
    animation: $name $animation-duration linear infinite;
}

.loader-container {
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: rgba(0, 123, 123, 0.7);
    z-index: 3;

    .spinner-f, .spinner-s, .spinner-t, .spinner-fo {
        @include base-spinner();
    }

    .spinner-f:after {
        @include spinner-animation(spinner-f, 3s);
    }

    .spinner-s:after {
        @include spinner-animation(spinner-s, 6s);
    }

    .spinner-t:after {
        @include spinner-animation(spinner-t, 3s);
    }

    .spinner-fo:after {
        @include spinner-animation(spinner-fo, 6s);
    }

    @keyframes spinner-f {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes spinner-s {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(-360deg);
        }
    }

    @keyframes spinner-t {
        0% {
            transform: rotate(90deg);
        }

        100% {
            transform: rotate(450deg);
        }
    }

    @keyframes spinner-fo {
        0% {
            transform: rotate(-90deg);
        }

        100% {
            transform: rotate(-450deg);
        }
    }
}