.profile-container {
    width: 100%;
    height: 100vh; //TODO auto

    background-color: rgb(232, 255, 255);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.text-container {
    width: 50%;
    text-align: justify;
    
    p {
        padding: 0 5%;
    }
}

.img-container {
    width: 50%;
    text-align: center;
}