<div class="profile-container">
    <div class="text-container">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur placerat tellus, ut pretium neque
            cursus in. Praesent eget convallis sem. Maecenas quis auctor urna, ac rutrum purus. Suspendisse luctus
            semper tellus, eget auctor ligula tincidunt aliquet. Donec auctor, tellus id congue ullamcorper, risus nibh
            consequat risus, quis imperdiet sapien est non risus. Sed ultricies mi lacus, eget interdum arcu
            sollicitudin imperdiet. Donec ligula arcu, sodales vitae ullamcorper at, vulputate in ipsum. Suspendisse
            potenti. Morbi lacus neque, placerat ut rhoncus id, auctor vitae turpis. Mauris sit amet mauris sed nulla
            placerat faucibus. Integer sit amet nisl vitae magna tristique eleifend hendrerit in purus. Duis imperdiet
            faucibus eros ut mattis. Cras ornare mi eget purus gravida vestibulum. Praesent eu odio leo.</p>
    </div>
    <div class="img-container">
        <img src="../../assets/Businessman.png">
    </div>
    <div class="img-container">
        <img src="../../assets/Businessman.png">
    </div>
    <div class="text-container">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur placerat tellus, ut pretium neque
            cursus in. Praesent eget convallis sem. Maecenas quis auctor urna, ac rutrum purus. Suspendisse luctus
            semper tellus, eget auctor ligula tincidunt aliquet. Donec auctor, tellus id congue ullamcorper, risus nibh
            consequat risus, quis imperdiet sapien est non risus. Sed ultricies mi lacus, eget interdum arcu
            sollicitudin imperdiet. Donec ligula arcu, sodales vitae ullamcorper at, vulputate in ipsum. Suspendisse
            potenti. Morbi lacus neque, placerat ut rhoncus id, auctor vitae turpis. Mauris sit amet mauris sed nulla
            placerat faucibus. Integer sit amet nisl vitae magna tristique eleifend hendrerit in purus. Duis imperdiet
            faucibus eros ut mattis. Cras ornare mi eget purus gravida vestibulum. Praesent eu odio leo.</p>
    </div>
</div>