<div class="profile-container">
    <h3>Who am I?</h3>
    <div class="text-container">
        <p>My name's <b>Luca Campello</b>, nice to meet you! I'm a <b>Software Engineer</b> born in 1994, from the province of Padua, <b>Italy.</b><br>
            I consider myself a <b>positive, friendly and easy going</b> person who likes to put himself out of his comfort zone, in order to grow personally and professionally.
            Without <b>challenges</b> to face, there would be no <b>growth</b> and no <b>achievements</b> to attain.<br>
            I'm <b>dedicated</b> and <b>passioned</b> about <b>programming</b>, and I try to push myself <b>to strive</b> for accomplishments.<br>
            Finally, my biggest strenght is being a <b>quick learner</b> and a <b>team builder</b>. It's important to me to be able to work in a stimulating and friendly environment,
            where the team members can collaborate and lift each other up.
        </p>
    </div>
    <div class="img-container">
        <img src="./assets/Businessman.png" id="businessman">
    </div>
    <div class="img-container">
        <img src="./assets/Interests.png" id="interests">
    </div>
    <div class="text-container">
        <p>On a side note, I'm also passioned about <b>foreign languages and cultures</b>, and so it comes naturally saying I really like <b>travelling</b> too.
            When I'm abroad, I like to dive into <b>local cuisines</b> and try as many <b>traditional dishes</b> as possible.<br>
            I quite enjoy <b>reading</b> too, ranging from a variety of topics, especially <b>space</b> and <b>history</b> non-fiction books.<br>
            As an <b>ex-volleyball athlete</b>, I like to keep myself atlethic and in shape by going to the <b>gym</b>. Being physically active it's important
            for the body and the mind, especially when having a sedentary job.<br>
            Finally, I like to follow <b>global politics</b> and <b>finance</b>, as I'm an <b>Investor</b> myself. 
        </p>
    </div>
</div>