<div class="img-exp-item">
    <img src="../../../assets/Businessman.png">
</div>
<div class="content-exp-item">
    <ul>
        <li>
            <h3>Title</h3>
            <h4>SubTitle</h4>
            <p>Lorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit
                ametLorem ipsum dolor sit amet
                Lorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit
                ametLorem ipsum dolor sit ametLorem ipsum dolor
                Lorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit
                ametLorem ipsum dolor sit ametv
                Lorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit
                ametLorem ipsum dolor sit ametv
                Lorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit
                ametLorem ipsum dolor sit ametv
                Lorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit
                ametLorem ipsum dolor sit ametv
                Lorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit
                ametLorem ipsum dolor sit ametv
                Lorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit
                ametLorem ipsum dolor sit ametv
            </p>
        </li>
    </ul>
</div>