/* You can add global styles to this file, and also import other style files */
$whitest-blue: rgb(232, 255, 255);
$whitest-blue-shaded: rgba(232, 255, 255, 0.4);
$light-blue: rgb(3, 213, 213);
$dark-blue: rgb(0, 123, 123);

body {
    width: 100%;
    margin: 0;
}

::-webkit-scrollbar {
    width: 4px;

    &-thumb {
        border-radius: 10px;
        background-color: rgb(52, 64, 100);
    }

    &-track {
        background-color: $whitest-blue;
    }
}